body{
  background-color:#f9db9d;
}

div.abouts {
  width: 70%;
  padding: 50px;
  border: 5px solid rgba(220,226,226,255);
  border-radius: 15px;
  background-color: lightgray;
  margin: 10px;
}

div.contacts {
  width: 70%;
  padding: 50px;
  border: 5px solid rgba(220,226,226,255);
  border-radius: 15px;
  background-color: lightgray;
  margin: 10px;
}
